@import url(http://fonts.googleapis.com/css?family=Roboto:100);

body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #cc0000;
    min-height: 120px;
    padding: 15px;
    color: #ffffff;
}

.header img {
    display: block;
    width: 30%;
    margin-bottom: 20px;
}

.menu a {
    color: #ffffff;
    margin-right: 20px;
    font-size: medium;
}

.active-page {
    text-decoration: underline;
}

.middle {
    padding: 20px 20px 0px 20px;
}

.main-content {
    padding: 0px;
}

.sidebar {
    padding: 0px 0px 0px 20px;
}

.footer {
    background-color: #cc0000;
    padding: 0px;
    color: #ffffff;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.item {
    margin-bottom: 20px;
}

.item-heading {
    background-color: #cc0000;
    color: #ffffff;
    padding-left: 15px;
    height: 45px;
    font-size: large;
    line-height: 45px;
}

.item-image {
    height: auto;
}

.item-image img {
    width: 100%;
}

.item-content {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
}

.news-content {
    /*min-height: 140px;*/
}

.next-event-content {
    text-align: center;
}

.rating {
    font-family: sans-serif;
    display: inline;
    text-align: right;
}







/* old below */
/*
.top {
    background-color: #cc0000;
    height: 140px;
}

.logo {
    margin-top: 10px;
}

.menu {
    color: #ffffff;
    margin-top: 25px;
}

.menu a {
    color: #ffffff;
    font-size: large;
    margin-right: 35px;
}

.main-content-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    min-height: 500px;
}

.news-item {
    min-height: 200px;
    margin-bottom: 25px;
}

.header {
    height: 46px;
    background-color: #cc0000;
    color: #ffffff;
    line-height: 46px;
    padding-left: 10px;
    font-size: medium;
}

.news-item-image {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 172px;
    /*min-height: 100px;*//*
    background: #ffffff no-repeat;
}

.news-item-content {
    min-height: 100px;
    background-color: #ffffff;
    font-size: x-small;
    padding: 10px;
}

.sidebar-container {
    padding-top: 20px;
    /*padding-left: 20px;
    padding-right: 20px;*//*
    background-color: transparent;
    min-height: 500px;
}

.next-event {
    min-height: 100px;
    margin-bottom: 25px;
}

.next-event-image {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 172px;
    /*min-height: 100px;*//*
    background: #ffffff no-repeat;
}

.next-event-content {
    min-height: 50px;
    background-color: #ffffff;
    font-size: x-small;
    padding: 10px;
    text-align: center;
}

.where-to-find-us {
    background-color: grey;
    min-height: 100px;
}

.where-to-find-us-image {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 172px;
    /*min-height: 100px;*//*
    background: #ffffff no-repeat;
}

.where-to-find-us-content {
    min-height: 50px;
    background-color: #ffffff;
    font-size: x-small;
    padding: 10px;
}

.footer {
    background-color: #cc0000;
    height: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-size: small;
}
*/